*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body {
    font-size: 100%;
    background: white;
}

.cabecalho {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 15px #303030;
}

.cabecalho-image {
    /* quero colocar o logo mais pra esquerda */
}

.cabecalho-menu {
    display: flex;
    gap: 100px;
} 

.cabecalho-menu-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    color: #335A36;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: color 300ms, transform 300ms;
    cursor: pointer;
}

.cabecalho-menu-item:hover {
    color: #233b25;
    transform: scale(1.05);
}


.conteudo-principal{
    margin: 0;
    padding: 0;
    text-align: center;

}

.conteudo-principal-image {
   position:relative;
   width: 80%;
   margin: 10px;
   filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
}

.conteudo-principal2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10%;
    background: white;
    gap: 200px;
    text-align: center;
}

.conteudo-principal2-image{
    width: 290px;
    height: 290px;
}

.conteudo-principal2-escrito {
    color: #335A36;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.conteudo-principal3 {
    text-align: center;
}

.conteudo-principal3-image {
    width: 80%;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
}

.conteudo-principal4 {
    padding: 80px;
    background: white;
}

.conteudo-principal4-grupo-image {
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.conteudo-principal4-image {
    height: 300px;
    width: 300px;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
}

.rodape {
    display: block;
    padding: 30px;
    background-color: #335A36;
}

.rodape-escrito{
    justify-content: center;
    color: white;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.rodape-grupo-image{
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: center;
}

.rodape-image {
    height: 20px;
    width: 20px;
}


